$font-poppins: 'Poppins',
    sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

$font-size-13: 0.8125rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-45: 2.8125rem;
$font-size-65: 4.0625rem;

$color-theme-red: #FF7373;
$color-text-dark-small: #222529;
$color-text-dark-header: #23262A;
$color-white: #FFFFFF;
$color-grey-0: #F5F5F5;
$color-grey-1: #F1F1F1;
$color-grey-2: #BEBEBE;
$color-grey-3: #E6E6E6;
$color-grey-4: #616365;
$color-grey-5: #BBBBBB;
$color-grey-footer-border: #BCBCBD;
$color-grey-border: #707070;
$color-grey-footer: #F8F8F8;
$color-grey-site-disclaimer-border: #C0C0C1;
$color-grey-product-details-placeholder: #F7F8FA;
$color-grey-circles-product-details: #F4F4F4;
$color-grey-product-details-nav-links-bottom: #DFE0E0;

$section-margin-top: 4.0625rem;
$section-margin-top-small: 2rem;
$product-details-text-holder-margin: 0.8rem;

$breakpoint-sm: 576px;
$breakpoint-sm-max-width: 540px;
$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-md-cards: 815px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-full: 1110px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;
$breakpoint-custom-max: 1680px;
$breakpoint-min-1920p: 1919px;
$breakpoint-max-1920p: 1920px;