.btn-themed {
    width: 188px;
    height: 60px;
    border: none;
    font-weight: $font-weight-semiBold;
    position: relative;
    transition: all 0.2s ease-in-out;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 0.8rem;
        height: 0.8rem;
    }

    &::before {
        left: 0.4rem;
        top: 0.4rem;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }

    &::after {
        right: 0.4rem;
        bottom: 0.4rem;
        border-right: 2px solid white;
        border-bottom: 2px solid white;

    }

}

.btn-theme-dark {

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 0.8rem;
        height: 0.8rem;
    }

    &::before {
        left: 0.4rem;
        top: 0.4rem;
        border-left: 2px solid $color-text-dark-header;
        border-top: 2px solid $color-text-dark-header;
    }

    &::after {
        right: 0.4rem;
        bottom: 0.4rem;
        border-right: 2px solid $color-text-dark-header;
        border-bottom: 2px solid $color-text-dark-header;
    }
}

.btn-no-styles {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 0.8rem;
        height: 0.8rem;
    }

    &::before {
        border: none;
    }

    &::after {
        border: none;
    }
}

.btn-quick-view {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: $color-theme-red;
    color: $color-white;
    position: absolute;
    bottom: 0px;

    @include md-cards {
        display: none;
    }

    &:hover {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: $color-theme-red;
        color: $color-white;
        position: absolute;
        bottom: 0px;

        &:hover {
            background-color: $color-text-dark-header;
        }
    }
}