.top-nav {
    width: 1110px;
    margin-top: $section-margin-top-small;

    @include sm {
        padding-left: 0;
    }

    .holder {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 0.5rem;
    }

    .active {
        color: $color-theme-red;
    }

}